
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Page List</h1>
<hr />
<h4>User Role</h4>
<a asp-controller="UserRole" asp-action="List">Role List</a>
<hr />
<h4>User</h4>
<a asp-controller="User" asp-action="List">User List</a>
<hr />
<h4>Section</h4>
<a asp-controller="Section" asp-action="List">Section List</a>
<hr />
<h4>Thread</h4>
<a asp-controller="Thread" asp-action="List">Thread List</a>

